.root {
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
}

.point {
  position: absolute;
  width: 1000px;
  height: 500px;
  transform: translate(0, 0) scale(1);
  transform-origin: center;
  will-change: transform;
  /* overflow: auto; */
}

.canvas {
  position: absolute;
  transform: translate(-50%, -50%);
}
